* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root {
    --blue-primary: #304b7c;
}

ul {
    list-style: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.div-padding {
    padding: 15px 10px;
}

.div-horizontal-margin {
    margin: 0px 10px;
}

.display-flex-horizontal {
    display: flex;
    align-items: center;
}

.radius-20 {
    border-radius: 20px;
}

.CV-Container {
    margin: auto;
    display: flex;
    height: 1058px;
    width: 830px;
}

/* Left part of CV */
.Personal-Data-Container {
    width: 38%;
    height: 100%;
    background-color: var(--blue-primary);
    color: white;
}

.Profile-Img {
    width: 100%;
    border-radius: 20px;
}

.Personal-Data-SubContainer {
    margin-top: 20px;
    height: 100%;
    justify-content: space-around;
}

.Icon {
    padding: 7px;
    background-color: var(--blue-primary);
    color: #ffffff;
    border-radius: 20px;
    margin-block: 2px;
    margin-right: 3px;
}

/* Right part of CV */
.Skils-Data-Container {
    width: 62%;
    border: solid var(--blue-primary) 4px;
}

.Name-Title {
    font-family: 'Caveat', cursive;
    font-size: 3.5em;
}

.Skils-Data-Container-Title {
    color: white;
    padding: 3px;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--blue-primary);
}

.Skils-Data-Container-Info {
    height: 100%;
    padding: 10px;
    justify-content: space-around;
}

.Unorder-List1 {
    padding-left: 15px;
}

.Unorder-List1 li {
    margin: 5px;
}

.Skils-Technics-Container {
    display: flex;
    justify-content: space-between;
}