*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    display: flex;
    justify-content: center;
    height: fit-content;
    border: solid green 2px;
} */
ul{
    list-style: none;
}
.div-padding{
    padding: 25px 10px;
}
.div-horizontal-margin{
    margin: 0px 10px;
}
.display-flex-horizontal{
    display: flex;
    align-items: center;
}
.CV-Container{
    margin: auto;
    display: flex;
    height: 1058px;
    width: 830px;
}

/* Left part of CV */
.Personal-Data-Container{
    position: relative;
    width: 38%;
    height: 100%;
    border: solid black 4px;
}
.Img-Spacer{
   height: 20%;
}
#Profile-Img{
    position: absolute;
    top: 25px;
    right: -10px;
    width: 80%;
}
.Personal-Data-SubContainer{
    margin-top: 20px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Icon{
    padding: 7px;
    background-color: black;
    color: #ffffff;
    border-radius: 20px;
    margin-block: 2px;
    margin-right: 3px;
}

/* Right part of CV */
.Skils-Data-Container{
    width: 62%;
    height: 100%;
}
.Name-Title{
    height: 20%;
    font-family: 'Caveat', cursive;
    font-size: 3.5em;
}
.Skils-Data-Container-Title{
    width: fit-content;
    color: white;
    background-color: black;
    padding: 3px 50px;
    border-radius: 20px;
}
.Skils-Data-Container-Info{
    height: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Horizontal-Line{
    color: black;
    size: 0.5px;
}
.Unorder-List1{
    padding-top: 10px;
    padding-left: 15px;
}

.Unorder-List1 li{
    margin: 5px;
}